# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

### Java template
*.class 

# Package Files #
*.jar
*.war
*.ear 

### macOS template
*.DS_Store
.AppleDouble
.LSOverride 

# IntelliJ project files
.idea
.idea/*.xml
*.iml
out
gen
rebel.xml 

# Compliled files
/target/
**/target 

/example/
