<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soundie.comment.mapper.CommentMapper">
    <!-- 댓글 목록 조회 -->
    <select id="findComments" resultType="com.soundie.comment.domain.Comment">
        select
            id as "id",
            member_id as "memberId",
            post_id as "postId",
            content as "content",
            created_at as "createdAt"
        from comment
    </select>

    <!-- 음원 게시물 Id로, 댓글+작성자이름 목록 조회 -->
    <select id="findCommentsWithAuthorByPostId" resultType="com.soundie.comment.domain.CommentWithAuthor">
        select
            c.id as "id",
            c.member_id as "memberId",
            m.name as "memberName",
            c.post_id as "postId",
            c.content as "content",
            c.created_at as "createdAt"
        from comment c join member m on (c.member_id = m.id)
        where c.post_id = #{postId}
    </select>

    <select id="findCommentsWithAuthorByPostIdOrderByIdAsc"
            resultType="com.soundie.comment.domain.CommentWithAuthor">
        select
            c.id as "id",
            c.member_id as "memberId",
            m.name as "memberName",
            c.post_id as "postId",
            c.content as "content",
            c.created_at as "createdAt"
        from comment c join member m on (c.member_id = m.id)
        where c.post_id = #{postId}
        order by c.id asc
        limit #{size}
    </select>

    <select id="findCommentsWithAuthorByPostIdAndIdLessThanOrderByIdAsc"
            resultType="com.soundie.comment.domain.CommentWithAuthor">
        select
            c.id as "id",
            c.member_id as "memberId",
            m.name as "memberName",
            c.post_id as "postId",
            c.content as "content",
            c.created_at as "createdAt"
        from comment c join member m on (c.member_id = m.id)
        where c.post_id = #{postId}
            and c.id &gt; #{id}
        order by c.id asc
        limit #{size}
    </select>

    <!-- 음원 게시물 Id로, 댓글 개수 조회 -->
    <select id="countCommentsByPostId" resultType="Long">
        select count(*)
        from comment
        where post_id = #{postId}
    </select>

    <!-- 댓글 저장 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into comment (member_id, post_id, content)
        values (#{comment.memberId},
                #{comment.postId},
                #{comment.content})
    </insert>
</mapper>
