<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soundie.member.mapper.MemberMapper">
    <!-- 회원 목록 조회 -->
    <select id="findMembers" resultType="com.soundie.member.domain.Member">
        select
            id as "id",
            name as "name",
            created_at as "createdAt"
        from member
    </select>

    <!-- 회원Id로, 회원 조회 -->
    <select id="findMemberById" resultType="com.soundie.member.domain.Member">
        select
            id as "id",
            name as "name",
            created_at as "createdAt"
        from member
        where id = #{id}
    </select>

    <!-- 회원 저장 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into member (name)
        values (#{member.name})
    </insert>
</mapper>